body {
  font-family: "Roboto", sans-serif;
  color: #434455; 
  background-color: #FFFFFF; 
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform:uppercase;
  color: #4d5ae5;
}

.logo-second-part {
  color: #2E2F42;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2E2F42;
}



.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: #404BBF; 
}

.hero {
  background-color: #2E2F42; 
  padding: 188px 0;
}


.hero-title {
  color: #FFFFFF; 
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
}


.button {
  background-color: #4D5AE5; 
  color: #FFFFFF;            
  cursor: pointer;       
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.button:hover,
.button:focus {
  background-color: #404BBF; 
}


.footer {
  background-color: #2E2F42; 
  ;
}